@model Music.ViewModels.AdminAlbumViewModel
<div class="container py-5">
    <h1 class="text-center mb-5">Популярные Альбомы</h1>
    <div class="py-2">
        <a asp-controller="AdminArtist" asp-action="Index" class="btn btn-primary py-1">Обратно к артистам</a>
        <a asp-controller="AdminAlbum" asp-action="Create" class="btn btn-primary px-2 py-1"
           asp-route-artistid="@Model.ArtistId"
           asp-route-album="@Model.Album"
           asp-route-albums="@Model.Albums">Создать новый альбом</a>
    </div>
    <div class="row">
        <div class="row px-1">
            @foreach (var album in Model.Albums)
            {
            <div class="col-md-4 col-lg-3">
                <div class="card album-card">
                    <img src="@album.UrlImg" class="card-img-top" alt="...">
                    <div class="card-body col">
                        <h5 class="card-title">@album.Name</h5>
                        <h5 class="card-title">@album.YearOfIssue</h5>
                        <div class="row py-1 px-5 w-100">
                            <a asp-action="Update" asp-route-id="@album.Id" class="btn btn-primary">Изменить</a>
                        </div>
                        <div class="row py-1 px-5 w-100">
                            <a asp-controller="AdminSong" asp-action="Index" class="btn btn-primary"
                               asp-route-id="@album.Id">Перейти</a>
                        </div>
                        <div class="row py-1 px-5 w-100">
                            <a asp-action="Delete" asp-route-id="@album.Id" class="btn btn-primary">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>