@model Music.ViewModels.AdminAlbumCreateViewModel

<div class="row d-flex flex-column min-vh-100">
    <div class="col-md-4">
        <form asp-controller="AdminAlbum" asp-action="Update" enctype="multipart/form-data">
            <input type="hidden" asp-for="@Model.Album.Id"/>
            <div class="form-group py-2">
                <p>Название</p>
                <input asp-for="@Model.Album.Name"/>
            </div>
            <div class="form-group py-2">
                <p>Год выпуска</p>
                <input asp-for="@Model.Album.YearOfIssue"/>
            </div>
            <div class="form-group">
                <label asp-for="File" class="form-label">Обновить обложку альбома</label>
                <input asp-for="File" class="form-control" placeholder="https://example.com/image.jpg" />
            </div>
            <input type="hidden" asp-for="@Model.Album.Songs"/>
            <input type="hidden" asp-for="@Model.ArtistId"/>
            <div class="form-group py-3">
                <input type="submit" value="Отредактировать" />
            </div>
        </form>
    </div>
</div>