@model Music.ViewModels.AdminSongViewModel

<!-- Шапка альбома -->
<div class="album-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 text-center text-md-start">
                <img src="@Model.Album.UrlImg"
                     alt="Обложка альбома"
                     class="img-fluid rounded album-cover">
            </div>
            <div class="col-md-9 mt-4 mt-md-0">
                <h1>@Model.Album.Name</h1>
            </div>
        </div>
    </div>
</div>

<!-- Основное содержимое -->
<div class="container">
    <div class="row">
        <!-- Список треков -->
        <div class="col-lg-8">
            <h2 class="mb-4">Песни</h2>
            <a asp-controller="AdminAlbum" asp-route-id="@Model.Album.ArtistId" asp-action="Index" class="btn btn-primary">Обратно к альбомам</a>
            <a asp-controller="AdminSong" asp-action="Create" class="btn btn-primary"
               asp-route-Album="@Model.Album"
               asp-route-AlbumId="@Model.AlbumId"
               asp-route-Song="@Model.Song"
               asp-route-SongId="@Model.SongId">Создать новую песню</a>
            <div class="track-list">
                @{ var count = 1; }
                @foreach (var song in Model.Album.Songs)
                {
                    <div class="track-item">
                        <div class="track-number">@count</div>
                        <div class="track-info">
                            <h6 class="mb-0">@song.Name</h6>
                        </div>
                        <audio controls class="audio-player">
                            <source src="@song.UrlSong" type="audio/mpeg">
                            Ваш браузер не поддерживает аудио элемент.
                        </audio>
                        <div class="px-1">
                            <a asp-action="Update"
                               asp-route-Album="@Model.Album"
                               asp-route-SongId="@song.Id"
                               asp-route-AlbumId="@Model.AlbumId"
                               class="btn btn-primary px-1">Изменить</a>


                            <a asp-action="Delete" asp-route-SongId="@song.Id"
                               asp-route-AlbumId="@Model.AlbumId"
                               class="btn btn-primary px-1">Удалить</a>
                            @{ count++; }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>