@using Music.Helpers
@model Music.ViewModels.AlbumViewModel
<div class="container py-5">
    <h1 class="text-center mb-5">Популярные Альбомы</h1>

    <form asp-controller="Album" asp-action="Index">
        <p>
            <label>
                Количество на странице:
                <select name="pageQuantity" asp-for="PageQuantity">
                    <option value="1">1</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                </select>
            </label>
            <label>
                Сортировка по дате релиза:
                <select name="sortedType" asp-for="SortedType">
                    <option value="0">--</option>
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                </select>
            </label>

            <label>Поиск по названию: <input type="text" name="albumName" asp-for="AlbumName"/></label>
            <input name="albumid" type="hidden" value="@Model.AlbumId"/>
            <input name="artistid" type="hidden" value="@Model.ArtistId"/>
            <input type="submit" value="Поиск">
        </p>
    </form>
        
    <div class="row">

        @foreach (var album in Model.Albums)
        {
            <div class="col-md-4 col-lg-3">
                <div class="card album-card">
                    <img src="@album.UrlImg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@album.Name</h5>
                        <h5 class="card-title">@album.YearOfIssue</h5>
                        
                        @if (Model.FavoriteAlbums.Contains(album))
                        {
                        <a class="btn btn-primary add-to-favorites"
                           asp-controller="Album" asp-action="Index"
                           asp-route-Albums="@Model.Albums"
                           asp-route-ArtistId="@(Model.ArtistId)"
                           asp-route-IsFavorite="@(Model.IsFavorite = false)"
                           asp-route-PageNumber="@Model.PageNumber"
                           asp-route-AlbumName="@Model.AlbumName"
                           asp-route-AlbumId="@album.Id"
                           asp-route-SortedType="@SortedType.None"
                           asp-route-PageQuantity="@Model.PageQuantity">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                            </svg>
                        </a>
                        }
                        else
                        { 
                        <a class="btn btn-primary add-to-favorites"
                           asp-controller="Album" asp-action="Index"
                           asp-route-Albums="@Model.Albums"
                           asp-route-ArtistId="@(Model.ArtistId)"
                           asp-route-IsFavorite="@(Model.IsFavorite = true)"
                           asp-route-PageNumber="@Model.PageNumber"
                           asp-route-AlbumName="@Model.AlbumName"
                           asp-route-AlbumId="@album.Id"
                           asp-route-SortedType="@SortedType.None"
                           asp-route-PageQuantity="@Model.PageQuantity">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                            </svg>
                        </a>
                        }
                        <a asp-controller="Song" asp-action="Index" asp-route-id="@album.Id">Перейти</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@if (Model.PageViewModel.TotalPage < 6)
{
    <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item @(Model.PageViewModel.HasPreviousPage ? String.Empty : "disabled")">
            <a class="page-link" aria-label="Previous"
               asp-controller="Album"
               asp-action="Index"
               asp-route-pagenumber="@(Model.PageNumber - 1)"
               asp-route-artistid="@Model.ArtistId"
               asp-route-albumname="@Model.AlbumName"
               asp-route-sortedType="@SortedType.None"
               asp-route-pagequantity="@Model.PageQuantity">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Назад</span>
            </a>
        </li>
        @for (int i = 1; i <= Model.PageViewModel.TotalPage; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : String.Empty)">
                <a class="page-link"
                   asp-controller="Album"
                   asp-action="Index"
                   asp-route-pagenumber="@i"
                   asp-route-artistid="@Model.ArtistId"
                   asp-route-albumname="@Model.AlbumName"
                   asp-route-sortedType="@SortedType.None"
                   asp-route-pagequantity="@Model.PageQuantity">@i</a>
            </li>
        }
        <li class="page-item @(Model.PageViewModel.HasNextPage ? String.Empty : "disabled")">
            <a class="page-link" aria-label="Next"
               asp-controller="Album"
               asp-action="Index"
               asp-route-pagenumber="@(Model.PageNumber + 1)"
               asp-route-artistid="@Model.ArtistId"
               asp-route-albumname="@Model.AlbumName"
               asp-route-sortedType="@SortedType.None"
               asp-route-pagequantity="@Model.PageQuantity">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Вперед</span>
            </a>
        </li>
    </ul>
</nav>
}
else
{
    <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item @(Model.PageViewModel.HasPreviousPage ? String.Empty : "disabled")">
            <a class="page-link" aria-label="Previous"
               asp-controller="Album"
               asp-action="Index"
               asp-route-pagenumber="@(Model.PageNumber - 1)"
               asp-route-artistid="@Model.ArtistId"
               asp-route-albumname="@Model.AlbumName"
               asp-route-sortedType="@SortedType.None"
               asp-route-pagequantity="@Model.PageQuantity">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Назад</span>
            </a>
        </li>
        @if (Model.PageViewModel.PageNumber == 1)
        {
            <li class="page-item active">
                <a class="page-link"
                   asp-controller="Album"
                   asp-action="Index"
                   asp-route-pagenumber="@Model.PageNumber"
                   asp-route-artistid="@Model.ArtistId"
                   asp-route-albumname="@Model.AlbumName"
                   asp-route-sortedType="@SortedType.None"
                   asp-route-pagequantity="@Model.PageQuantity">@Model.PageNumber</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   asp-controller="Album"
                   asp-action="Index"
                   asp-route-pagenumber="@(Model.PageNumber + 1)"
                   asp-route-artistid="@Model.ArtistId"
                   asp-route-albumname="@Model.AlbumName"
                   asp-route-sortedType="@SortedType.None"
                   asp-route-pagequantity="@Model.PageQuantity">@(Model.PageNumber + 1)</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   asp-controller="Album"
                   asp-action="Index"
                   asp-route-pagenumber="@(Model.PageNumber + 2)"
                   asp-route-artistid="@Model.ArtistId"
                   asp-route-albumname="@Model.AlbumName"
                   asp-route-sortedType="@SortedType.None"
                   asp-route-pagequantity="@Model.PageQuantity">@(Model.PageNumber + 2)</a>
            </li>
        }
        else if (Model.PageNumber != Model.PageViewModel.TotalPage)
        {
            <li class="page-item">
                <a class="page-link"
                   asp-controller="Album"
                   asp-action="Index"
                   asp-route-pagenumber="@(Model.PageNumber - 1)"
                   asp-route-artistid="@Model.ArtistId"
                   asp-route-albumname="@Model.AlbumName"
                   asp-route-sortedType="@SortedType.None"
                   asp-route-pagequantity="@Model.PageQuantity">@(Model.PageNumber - 1)</a>
            </li>
            <li class="page-item active">
                <a class="page-link"
                   asp-controller="Album"
                   asp-action="Index"
                   asp-route-pagenumber="@Model.PageNumber"
                   asp-route-artistid="@Model.ArtistId"
                   asp-route-albumname="@Model.AlbumName"
                   asp-route-sortedType="@SortedType.None"
                   asp-route-pagequantity="@Model.PageQuantity">@Model.PageNumber</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   asp-controller="Album"
                   asp-action="Index"
                   asp-route-pagenumber="@(Model.PageNumber + 1)"
                   asp-route-artistid="@Model.ArtistId"
                   asp-route-albumname="@Model.AlbumName"
                   asp-route-sortedType="@SortedType.None"
                   asp-route-pagequantity="@Model.PageQuantity">@(Model.PageNumber + 1)</a>
            </li>
        } else 
        {
            <li class="page-item">
                <a class="page-link"
                   asp-controller="Album"
                   asp-action="Index"
                   asp-route-pagenumber="@(Model.PageViewModel.TotalPage - 3)"
                   asp-route-artistid="@Model.ArtistId"
                   asp-route-albumname="@Model.AlbumName"
                   asp-route-sortedType="@SortedType.None"
                   asp-route-pagequantity="@Model.PageQuantity">@(Model.PageViewModel.TotalPage - 3)</a>
            </li>
            <li class="page-item @(Model.PageNumber != Model.PageViewModel.TotalPage ? "active" : String.Empty)">
                <a class="page-link"
                   asp-controller="Album"
                   asp-action="Index"
                   asp-route-pagenumber="@(Model.PageViewModel.TotalPage - 2)"
                   asp-route-artistid="@Model.ArtistId"
                   asp-route-albumname="@Model.AlbumName"
                   asp-route-sortedType="@SortedType.None"
                   asp-route-pagequantity="@Model.PageQuantity">@(Model.PageViewModel.TotalPage - 2)</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   asp-controller="Album"
                   asp-action="Index"
                   asp-route-pagenumber="@(Model.PageViewModel.TotalPage - 1)"
                   asp-route-artistid="@Model.ArtistId"
                   asp-route-albumname="@Model.AlbumName"
                   asp-route-sortedType="@SortedType.None"
                   asp-route-pagequantity="@Model.PageQuantity">@(Model.PageViewModel.TotalPage - 1)</a>
            </li>
        }


        <li class="page-item disabled"> ... </li>
        <li class="page-item @(Model.PageNumber == Model.PageViewModel.TotalPage ? "active" : String.Empty)"><a class="page-link"
               asp-controller="Album"
               asp-action="Index"
               asp-route-pagenumber="@Model.PageViewModel.TotalPage"
               asp-route-artistid="@Model.ArtistId"
               asp-route-albumname="@Model.AlbumName"
               asp-route-sortedType="@SortedType.None"
               asp-route-pagequantity="@Model.PageQuantity" >@Model.PageViewModel.TotalPage</a></li>
        <li class="page-item @(Model.PageViewModel.HasNextPage ? String.Empty : "disabled")">
            <a class="page-link" aria-label="Next"
               asp-controller="Album"
               asp-action="Index"
               asp-route-pagenumber="@(Model.PageNumber + 1)"
               asp-route-artistid="@Model.ArtistId"
               asp-route-albumname="@Model.AlbumName"
               asp-route-sortedType="@SortedType.None"
               asp-route-pagequantity="@Model.PageQuantity">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Вперед</span>
            </a>
        </li>
    </ul>
</nav>
}
